.table-editable{
  margin-right: 10%;
  margin-left: 10%;
}

table {
    border-collapse: collapse;
       width: 100%;  
    position: relative;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

 